
    <style>
      
    </style>
 
    <div id="floating-panel">
        <input id="latlng" type="text" value="48.484222, -4.245694">
        <input id="msg" type="text" placeholder="Votre message">
        <input id="submit" type="button" value="Send the love">

    </div>
    <div id="map"></div>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2jSqgS31-mJJq4PKoqZLeH1nv2hbe-Mk&callback=initMap">
    </script>
